/* Base */
.navbar {
    padding: 0;
}

.navbar-brand {
    font-size: 500%;
}

.navtxt {
    font-size: 200%;
}

.navbar-collapse {
    position: absolute;
    top:20px;
    right: 20px;
}

.navbar-container, .footer {
    background-color: rgb(156, 161, 167);
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 2%;
}

.light-o {
    color: #ffd966;
    -webkit-text-stroke: 0.5px black;
}

.dark-o {
    color: #ff8c66;
    -webkit-text-stroke: 0.5px black;
}

.background {
    background: #ff8c66;
}

.card {
    border: none;
    background-color: #ffd966;
}

.author {
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover,
.page-link {
    color: #ff8c66;
}

@media (max-width: 1090px) {
    .navbar-brand {
        font-size: 400%;
    }
    .navtxt {
        font-size: 150%;
    }
    .navbar-nav .nav-link {
        padding: 0;
    }
}

@media (max-width: 990px) {
    .navbar-brand {
        font-size: 400%;
    }
    .navtxt {
        font-size: 100%;
    }
    .content-to-hide {
        display: none;
    }
    .navbar-collapse {
        right: 20%
    }
    
}

@media (max-width: 690px) {                  
    .navbar-brand {
        font-size: 200%;
        bottom: 0px;
    }
    .navbar-nav {
        flex-flow: row nowrap;
    }
    .navbar {
        flex-flow: row nowrap;
        display: inline-flex;
    }
    .nav-item {
        padding: 5% 2% 2% 2%;
    }
}

@media (max-width: 615px) { 
    .navtxt {
        font-size: 100%;
    }
    .navbar-brand {
        font-size: 150%;
        position: relative;
        bottom: 20px;
    }
    .nav-item {
        padding: 15% 2% 2% 2%;
    }
}

.btn-signup {
    background-color: #ffd966;
    color: black;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ff8c66;
}

.signup-container {
    padding: 5%;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Home */

.home-content {
    padding: 5%;
}

.home-text {
    background-color: rgb(255,217,102, 0.75);
    border-radius: calc(0.25rem - 1px);
    margin-bottom: 5%;
    box-shadow: 5px 10px 10px rgb(78, 77, 77);
}

.news-link, .gallery-link {
    text-decoration: none;
    color: black;
    text-align: center;
}

.home-links {
    background-color: rgb(255,255,255, 0.75);
    position: relative;
    bottom: 20%;
    padding: 2%;
}

.home-card {
    box-shadow: 5px 10px 10px rgb(78, 77, 77);
}

/* news */

.news-title {
    margin: 5%;
}

.news-img, .news-container {
    margin-bottom: 5%;
}



/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
} 

.thin {
    font-weight: 300;
} */

/* .light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
} */

/* .image-container {
    position: relative;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}
*/