{% extends "base.html" %}

{% block content %}

<div class="container home-content">
    <div class="row">
        <div class="col-md-8 offset-md-2 home-text">
            <h2 class="text-center">We can all appreciate art!</h2>
            <h2 class="text-center">Here we like to appreciate it together.</h2>
            <h1 class="text-center">SEE, DISCUSS, ENJOY</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="home-card mb-4">
                <div class="image-container ">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/ellascloud/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1648069940/news-img_nl6hwt.png">
                    <div class="home-links">
                        <a href="#" class="news-link"><h2>Click here to see the latest exhabition news</h2></a>     
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-card mb-4">
                <div class="image-container ">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/ellascloud/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1648073109/abstract3_w820gv.png">
                    <div class="home-links">
                        <a href="{% url 'gallery' %}" class="news-link"><h2>Why not to head over to the gallery</h2></a>
                    </div>
                </div>    
            </div> 
        </div>
    </div>
</div>

{%endblock%}