
{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="row ">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center news-title">
            {{ newspost.title }}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- The featured image URL goes in the src attribute -->
        {% if "placeholder" in newspost.featured_image.url %}
        <img src="https://res.cloudinary.com/ellascloud/image/upload/v1644424356/sample.jpg" class="news-img image-width"
        alt="news posts featured image">
        {% else %}
        <img src=" {{ newspost.featured_image.url }} " class="news-img image-width" alt="news posts featured image">
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card container news-container">
            <div class="card-body "> 
                <p class="card-text ">
                    {{ newspost.content | safe }}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="text-secondary" href="{% url 'edit_news' newspost.slug %}">Edit</a> | 
                            <a class="text-secondary" href="{% url 'delete_news' newspost.slug %}">Delete</a>
                        </small>
                    {% endif %}
                </p>   
            </div>         
        </div>
    </div>
</div>
{% endblock content %}