
{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <h1 class="n-title text-center">
                {{ post.title }}
            </h1>
            <div class="col-md-6 offset-md-3">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/ellascloud/image/upload/v1644424356/sample.jpg" class="home-card image-width" alt="post featured image placeholder">
                {% else %}
                <img src=" {{ post.featured_image.url }} " class="home-card image-width"  alt="post featured image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top  home-card">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span > {{ post.number_of_likes }} </span>
                        </strong>
                        <!-- The number of likes goes before the closing strong tag -->
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-4  mt-3  home-card">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <span class="font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> <br>
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                         wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 offset-md-2 home-card">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-dark" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <h3 class="text-center">If you want to leave a comment please <a id="login-link" href="{% url 'account_login' %}">login!</a></h3>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}